service: ${self:provider.stage}-auth-service

provider:
  name: aws
  runtime: nodejs24.x  # Usamos la versión 22.x de Node.js
  region: ${env:AWS_REGION}
  stage: ${opt:stage, 'dev'}  # Si no se pasa 'stage', será 'dev' por defecto
  endpointType: regional
  SecurityPolicy: SecurityPolicy_TLS13_1_3_2025_09
  environment:
    CLIENT_ID: !Ref AuthUserPoolClient

functions:
  auth:
    handler: src/index.handler
    name: ${self:custom.prefix}  # Prefijo dinámico por stage
    events:
      - http:
          path: auth/register
          method: post
      - http:
          path: auth/login
          method: post
      - http:
          path: auth/confirm
          method: post
      - http:
          path: auth/change-password
          method: post
      - http:
          path: auth/forgot-password
          method: post
      - http:
          path: auth/confirm-forgot-password
          method: post

resources:
  Resources:
    AuthUserPool:
      Type: AWS::Cognito::UserPool
      Properties:
        UserPoolName: ${self:custom.prefix}-userpool
        AutoVerifiedAttributes:
          - email

    AuthUserPoolClient:
      Type: AWS::Cognito::UserPoolClient
      Properties:
        UserPoolId: !Ref AuthUserPool
        ClientName: ${self:custom.prefix}-client
        GenerateSecret: false
        ExplicitAuthFlows:
          - ALLOW_USER_PASSWORD_AUTH
          - ALLOW_REFRESH_TOKEN_AUTH
          - ALLOW_USER_AUTH
          - ALLOW_ADMIN_USER_PASSWORD_AUTH

plugins:
  - serverless-offline
  - serverless-localstack

custom:
  prefix: ${self:service} # El prefijo es el nombre del stage
  localstack:
    stages:
      - dev

